<!--WANT TO ADD:-->
<!--	1) upon window resizing, collapse the navigation bar
		2) connect instagram to website, possibly have a card displaying a slideshow of 3 recent posts?
		3) contact information. link to instagram, email account, address-->
<!---->
<!---->



<!-- Home Page -->
<!doctype html>
<html lang="en">
  

  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Stem & Leaf Co.</title>
	<link id="logo" rel='icon' href='../resources/img/stem_logo.jpg' type='image/x-icon'/>
	
   
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	
    <!--NAVIGATION BAR-->
    <nav id="bar" class="navbar navbar-expand-lg navbar-dark">
	  <a class="navbar-brand" href="home.html">
		<img id="nav-pic" class="rounded-circle" src="../resources/img/stem_logo.jpg" alt="">
	  </a>


      
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="home.html">HOME <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="products.html">PRODUCTS </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="about.html">ABOUT</a>
		  </li>
		</ul>
	  </div>
	</nav>



	<div class="container">
		<br>
		<h1>Welcome to Stem Leaf Co!</h1>
        <br>
		<h2>Stem Leaf Co. is an organic micgrogreens company located in Nashville TN.</h2>

		<br>
		<p>hey there guy!</p>
		<br>
		<p>hey there guy!</p>
		<br>
		<p>hey there guy!</p>
	</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>