<!-- Home Page -->
<!doctype html>
<html lang="en">



  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Home Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>




  <body>
	  
	<ul>
		<li><a class="active" href="home.html">Home</a></li>
		<li><a href="products.html">Products</a></li>
		<li><a href="about.html">About</a></li>
	  </ul>
	<div class="container">

		<h1>Nashville Microgreens</h1>
		<!--Add your code for the home page here -->
		<!-- Home Page Requirements: 
		Your home page must include the following components:

			1. A header tag with a message welcoming the user to your website
			2. An image (related to Football or specifically the Buffs team)
			3. A short description of your website (2 sentences).
			4. A Hyperlink to the Buffs official home page [ https://cubuffs.com/ ]
			5. At least 1 Bootstrap class to modify your content

		
		-->
	</div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>