#nav-pic {
  display: inline-block;
  vertical-align: middle;
  height: 55px;
  width: 55px;
}

#bar {
  height: 65px;
  object-fit: contain;
  background-color: #7AAE57;
}

.navbar-brand {
  object-fit: contain;
}
